@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to your global CSS */
.modal {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.modal.open {
  opacity: 1;
  transform: scale(1);
}

/* In your global.css file */
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}